html {
  font-family: 'Lato', sans-serif;
}

body {
  color: white;
}

.Loading {
  position: fixed;
  top: 20%;
  height: 400px;
  width: 100%;
  background: linear-gradient(#973158b7, rgba(0, 0, 0, 0.712));
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  padding-top: 170px;
}
